body {
  padding: 0;
  color: orange;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height:600px;
}

.gauche .solo {
  background-color: #3c3c3c !important;
}

.droit .solo {
  background-color: #3c3c3c !important;
}
.gauche .btn-mute{
  color: #ffffff;
  background-color: #ff8800;
  border-color: #ff8800;
}

.droit .btn-mute{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.footer {
  position: fixed;
  bottom: -20px;
  width: 100%;
  height: 70px;
}

.song-name{
  white-space: nowrap;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}


a {
  color: #4593C7;

}
a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

button {
  background-color: #4387B4;
  padding: 4px 13px 3px;
  color: #fff;
  font-size: 17px;
  border: 0 none;
  cursor: pointer;
}
button:hover {
  background-color: #5C98C0;
}
button[disabled] {
  opacity: 0.4;
  color: #CCC;
}



@media (max-width:400px) {
  header h1 {
    display: block;
    margin: 0 0 0.1em;
  }
  header a {
    float: none;
  }
}

footer {
  margin-top: 2em;
  background-color: #333;
  padding: 1em 15px 3em;
}

.error {
  margin: 15px;
  padding: 15px;
  background-color: #422;
  border: 1px solid #300;
}



.songs label {
  display: inline-block;
  /*margin: 5px 10px;*/
  border: 1px solid #888;
  border-radius: 4px;
  /*padding: 3px 6px;*/
  cursor: pointer;
}


.track {
  display: inline-block;
  position: relative;
  margin: 0 10px 30px;
}
.track h2 {
  margin: 0 0 4px;
  font-size: 14px;
}
.track input[type="range"] {
  /*position: absolute;*/
  right: 0;
  top: 5px;
  height: 4px;
  margin: 0;
  width: 90%;
  display: inline;
}
.track input[type='range'] {
  -webkit-appearance: none !important;
  background: #666;
  height: 7px;
}
.gauche .track input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: orange;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.droit .track input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: dodgerblue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.track canvas {
  background-color: #333;
  border: 1px solid #4F4F4F;
  vertical-align: middle;
}

.filter {
  height: inherit;
  width: inherit;
  position: absolute;
  left: 10%;
  top: 10%;
  display : none;
  font-size : 12px;
}

.col-sm-10:hover > .filter {
  display : block;
}

.track .spinner {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: spinner-frames .5s infinite linear;
  animation: spinner-frames .5s infinite linear;
  border-width: 5px;
  border-style: solid;
  border-color: #B6D6FF transparent transparent;
  border-radius: 50%;
}
@-webkit-keyframes spinner-frames {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@keyframes spinner-frames {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}



/*stars css*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  color: orange;
  position: absolute;
}

/* player bar slider */

#playerSlider .slider-selection {
  background: #5c9dd5;
}
