<div class="track" ng-class="{loading:loading==true}">
  <div class="row">
    <div class="col-sm-10">
      <h2>{{trackName}}<span ng-show="status"> ({{status}})</span><span> {{duration}}</span></h2>
      <span style="color:grey;"><i class="fa fa-volume-down"></i></span>
      <input type="range" ng-model="trackVolume"/>
      <i class="fa fa-volume-up"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <canvas></canvas>
      <div class="spinner" ng-show="loading"></div>
      <div class="filter">
        <div>
          <span>Filtre : </span>
          <select ng-options="option.name for option in typeFilter track by option.id" ng-model="typeFilterSelected" >
            <option ng-repeat="option in typeFilter" value="{{option.id}}">{{option.name}}</option>
          </select>
        </div>
        <div ng-hide="typeFilterSelected.type == 0">
          <span>Freq </span>
          <input type="range" ng-model="filterFrequency" min='0' max='20000' step="10" style="display : inline-block; width : 70%"/>
          <span>{{filterFrequency}} Hz</span>
        </div>
        <div ng-hide="typeFilterSelected.type == 0 || typeFilterSelected.type == 2">
          <span>Q &nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="range" ng-model="filterQ" min='1' max='10000' style="display : inline-block; width : 70%"/>
          <span>{{filterQ/100}}</span>
        </div>
        <div ng-hide="typeFilterSelected.type == 0 || typeFilterSelected.type == 1">
          <span>Gain </span>
          <input type="range" ng-model="filterGain" min='0' max='100' style="display : inline-block; width : 70%"/>
          <span>{{filterGain/100}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-warning btn-xs" ng-show="trackIsMute" ng-click="mute()">Mute</button>
      <button class="solo btn btn-warning btn-xs" ng-show="!trackIsMute" ng-click="mute()">Mute</button>
      <button style="margin-top: 3px" ng-show="!trackIsSolo" class="solo btn btn-warning btn-xs" ng-click="soloTrack()">Solo</button>
      <button style="margin-top: 3px" ng-show="trackIsSolo" class="btn btn-warning btn-xs" ng-click="soloTrack()">Solo</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <span>L</span>
      <input type="range" ng-model="trackStereo" min='-1' max='1'/>
      <span>R</span>
    </div>
  </div>
</div>
