<div class="row">
  <div class="col-lg-10 col-md-offset-1">
    <div class="jumbotron">
      <h1><img class="" src="./images/logo.png">Polymusic</h1>
      <p>This is a project for our lesson "Program Web Client and Server" during the last year at <span class="text-primary">Polytech Nice Sophia</span></p>
      <h4>Authors</h4>
      <ul>
        <li>Camille BOINAUD [<a href="mailto:camille.boinaud@etu.unice.fr">camille.boinaud@etu.unice.fr</a>]</li>
        <li>Dan HE [<a href="mailto:dan.he@etu.unice.fr">dan.he@etu.unice.fr</a>]</li>
        <li>Jonathan PUJOL [<a href="mailto:jonathan.pujol@etu.unice.fr">jonathan.pujol@etu.unice.fr</a>]</li>
        <li>Tianhao SHI [<a href="mailto:tianhao.shi@etu.unice.fr">tianhao.shi@etu.unice.fr</a>]</li>
      </ul>
    </div>
  </div>
</div>
