<div class="songs" ng-cloak>
		<span ng-repeat="song in songs">
			<input id="{{'radio-'+song.name}}" type="radio" ng-model="$parent.currentSong" ng-value="song" />
			<label for="{{'radio-'+song.name}}">{{song.name+' ('+song.band+')'}}</label>
		</span>
</div>

<div class="controls" ng-show="currentSong" ng-cloak>
  <button ng-disabled="!ready" ng-show="!playing" ng-click="playTracks()">Play</button>
  <button ng-disabled="!ready" ng-show="playing" ng-click="stopTracks()">Stop</button>
</div>

<div class="error" ng-show="error" ng-cloak>Sorry, it looks like this won't work in your browser.</div>

<div class="track-container" ng-cloak>
  <div track="track" track-name="{{track.name}}" ng-repeat="track in currentSong.tracks"></div>
</div>



<div class="row">
  <div class="col-lg-2">
    <ul  id="song_mix_tab" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#song_tab" data-toggle="tab"> Songs</a></li>
      <li><a href="#mix_tab" data-toggle="tab">Mix Songs</a></li>
    </ul>
    <!--List of songs and mix songs-->
    <div id="content_song_mix_tab" class="tab-content">
      <!--tab of songs-->
      <div class="tab-pane active" id="song_tab">
        <!--Table of songs-->
        <!--<div ng-include src="'views/tab_list_songs.html'"></div>-->
      </div>

      <!--tab of mix-->
      <div class="tab-pane" id="mix_tab">
        <!--Table of mix-->
        <div ng-include src="'views/tab_list_mix.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-10">
    <a class="btn btn-success" data-toggle="modal" data-target="#modal_save_mix">Save Mix Song</a>
    <div ng-include src="'views/modal_save_mix.html'"></div>
    <br/>
    <br/>
    <div class="panel panel-default">
      <div class="panel-body">
       <img src="../images/track.jpg" class="pull-right" width="90%">
      </div>
    </div>

    <div class="row">
      <!--List of track left-->
      <div class="col-lg-6 text-warning">
        <div ng-include src="'views/track_list.html'"></div>
      </div>

      <!--List of track right-->
      <div class="col-lg-6" style="color:#31b0d5">
        <div ng-include src="'views/track_list.html'"></div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>

<!--player of music : footer-->
<footer class="footer well">
  <div class="row">
    <div class="col col-lg-6 text-warning" ng-controller="PlayerController as player1" >
      <div ng-include src="'views/player.html'"></div>
    </div>
    <div class="col col-lg-6" style="color:#31b0d5"  ng-controller="PlayerController as player2">
      <div ng-include src="'views/player.html'"></div>
    </div>
  </div>
</footer>
<!--END player of music : footer-->


<script>
  $('a[data-toggle="tab"]').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


