<div class="row">
  <div class="col-lg-2">
    <ul  id="song_mix_tab" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#song_tab" data-toggle="tab">Songs</a></li>
      <li><a href="#mix_tab" data-toggle="tab">Mix Songs</a></li>
    </ul>
    <div id="content_song_mix_tab" class="tab-content">
      <div class="tab-pane active" id="song_tab">
        <!--Table of songs-->
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="hidden">Songs</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>song1
                <div class="pull-right">
                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">A</button>
                    <button type="button" class="btn btn-info">B</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="mix_tab">
        <!--Table of mix-->
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="hidden">Mix Name</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
            </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mix1
                <div class="pull-right">
                  <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-play"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="btn btn-success">Save Mix Song</div>
    <div class="panel panel-default">
      <div class="panel-body">
       <img src="../images/track.jpg" class="pull-right" width="90%">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
      <div class="col-lg-6" style="color:#31b0d5">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-2">
                Piano:
              </div>
              <div class="col-lg-10">
                <img src="../images/track.jpg" class="pull-right" width="100%">
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer well">
  <div class="container">
    <div class="row">
      <div class="col col-lg-6" >
        <div class="btn-group btn-group-sm"  role="group" aria-label="...">
          <button type="button" class="btn btn-default"><i class="fa fa-fast-backward"></i></button>
          <button type="button" class="btn btn-warning" ng-click="play()"><i class="fa fa-play"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-fast-forward"></i></button>
        </div>
        <span>SongA Name</span>
      </div>
      <div class="col col-lg-6" style="color:#31b0d5">
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><i class="fa fa-fast-backward"></i></button>
          <button type="button" class="btn btn-info"><i class="fa fa-play"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-fast-forward"></i></button>
        </div>
        <span>SongB Name</span>
      </div>

    </div>

  </div>
</footer>


