<div class="row">
  <div class="col-lg-3">
    <ul  id="song_mix_tab" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#song_tab" data-toggle="tab"> Songs</a></li>
      <li><a href="#mix_tab" data-toggle="tab">Mix Songs</a></li>
    </ul>

    <!--List of songs and mix songs-->
    <div id="content_song_mix_tab" class="tab-content">
      <!--tab of songs-->
      <div class="tab-pane active" id="song_tab">
        <div class="panel panel-primary">
          <div class="panel-body">

            <!--formulaire de recherche-->
            <form class="form-inline" role="search">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="search_song" placeholder="Search your music">
              </div>
              <button type="submit" class="btn-droit btn-sm btn" ng-click="search(true)"><i class="fa fa-search"></i> Search</button>
            </form>
            <!--END: formulaire de recherche-->
            <hr/>

            <!--list of songs-->
            <div class="songs" ng-cloak>
              <div ng-repeat="song in songs">
                <div class="row">
                  <div class="col-sm-8 over-flow">
                    <input id="{{'A-radio-'+song.name}}" type="radio" ng-model="$parent.currentSongs[0]" ng-value="song" hidden/>
                    <input id="{{'B-radio-'+song.name}}" type="radio" ng-model="$parent.currentSongs[1]" ng-value="song" hidden/>
                    <a href="/#/songs/{{song._id}}" class="text-capitalize">{{song.name}}</a>
                  </div>
                  <div class="col-sm-4" ng-show="!song.selected">
                    <div class="btn-group-sm">
                      <label  ng-click="playSongOnA($index)" class="btn-warning btn-sm" for="{{'A-radio-'+song.name}}">A</label>
                      <label  ng-click="playSongOnB($index)" class="btn-droit btn-sm btn"  for="{{'B-radio-'+song.name}}">B</label>
                    </div>
                  </div>
                </div>
                <hr/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--tab of mix-->
      <div class="tab-pane" id="mix_tab">
        <div class="panel panel-primary">
          <div class="panel-body">
            <!--Table of mix-->
            <div ng-include src="'views/tab_list_mix.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--tracks-->
  <div class="col-lg-9">
    <!--error-->
    <div class="error" ng-show="error" ng-cloak>Sorry, it looks like this won't work in your browser.</div>

    <!--Upload the file-->
    <a class="btn btn-success" href="/#/upload"><i class="fa fa-upload"></i> Upload your music</a>

    <!--Save button Modal-->
    <a class="btn btn-warning" data-toggle="modal" data-target="#modal_save_mix"><i class="fa fa-floppy-o"></i> Save Mix Song</a>
    <div ng-include src="'views/modal_save_mix.html'"></div>
    <br/>

    <div class="row">
      <!--track list à gauche-->
      <div class="col-lg-6 track-container" style="color:orange">
        <div class="panel panel-default">
          <div class="gauche" ng-cloak track-container song="currentSongs[0]" master="masters[0]"></div>
        </div>
      </div>
      <!--track list à droit-->
      <div class="col-lg-6 track-container text-primary">
        <div class="panel panel-default">
          <div class="droit" ng-cloak track-container song="currentSongs[1]" master="masters[1]"></div>
        </div>
      </div>

    </div>

  </div>
</div>
<br/>
<br/>
<br/>

<!--player of music : footer-->
<footer class="footer well">
  <div class="row">
    <div class="col-lg-3">
      <center>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger"><i class="fa fa-microphone"></i></button>
          <button type="button" class="btn btn-success"><i class="fa fa-play"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-stop"></i></button>
        </div>
      </center>
    </div>

      <div class="col-lg-9">
          <!--player à gauche-->
        <div class="row">
          <div class="col-lg-6 text-warning" >
            <div ng-show="!currentSongs[0].selected">
              <img src="./images/logo_brand.png"></span> PolyMusic
            </div>
            <div class="row" ng-show="currentSongs[0].selected">
              <div class="col-sm-1" ng-cloak>
                <play-btn song="currentSongs[0]" play-btn-class="btn-sm btn-warning" pause-btn-class="btn-sm btn-danger"></play-btn>
              </div>
              <div class="col-md-3">
                <!--song name-->
                <div class="over-flow" ng-disabled="!currentSongs[0].ready">{{currentSongs[0].name}}</div>
                <p>
                  <i class="fa fa-volume-up"></i>
                  <master-gain master="masters[0]"></master-gain>
                </p>
              </div>
              <div class="col-md-8 duration">
                <player-slider song="currentSongs[0]" player-slider-id="playerSliderLeft"></player-slider>
              </div>
            </div>
          </div>

          <div class="col-lg-6 text-primary" >
            <div ng-show="!currentSongs[1].selected">
              <img src="./images/logo_brand.png"></span> PolyMusic
            </div>
            <div class="row" ng-show="currentSongs[1].selected">
              <div class="col-sm-1" ng-cloak>
                <play-btn song="currentSongs[1]" play-btn-class="btn-sm btn-droit btn" pause-btn-class="btn-sm btn-danger"></play-btn>
              </div>
              <div class="col-md-3">
                <!--song name-->
                <div class="over-flow" ng-disabled="!currentSongs[1].ready">{{currentSongs[1].name}}</div>
                <p>
                  <i class="fa fa-volume-up"></i>
                  <master-gain master="masters[1]"></master-gain>
                </p>
              </div>
              <div class="col-md-8 duration">
                <player-slider song="currentSongs[1]" player-slider-id="playerSliderRight"></player-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>
<!--END player of music : footer-->


<script>
  $('a[data-toggle="tab"]').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


