<div class="row">
  <div class="col-md-offset-1 col-lg-10">
    <div class="panel panel-warning">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <img  class="img-thumbnail" src="././images/logo.png">
            <div><i class="fa fa-user"></i><strong> Author: </strong> {{song.author}}</div>
          </div>

          <div class="col-md-10">
            <h4 class="text-warning">
              <i class="fa fa-music"></i> {{song.name}}
            </h4>
            <div>
              <play-btn song="song" play-btn-class="btn btn-warning" pause-btn-class="btn btn-danger"></play-btn>
              <!--<button class="btn btn-warning"><i class="fa fa-play"></i> Play</button>-->
              <span class="h4 text-warning">
                <span ng-repeat="r in rating track by $index">
                  <span><i class="fa fa-star text-warning"></i></span>
                </span>
                 <span ng-repeat="r in rating_vide track by $index">
                   <i class="fa fa-star-o"></i>
                 </span>
                <span class="h6" style="color:grey"> <i class="fa fa-users"></i> N° of Rating:  {{song.nbRating}}</span>
              </span>
            </div>
            <div>
              <span class="rating" id="rating">
                <span ng-click="make_rating(5)">
                  <i class="fa fa-star-o" ng-show="!has_rated[4]"></i>
                  <i class="fa fa-star text-warning" ng-show="has_rated[4]"></i>
                </span>
                <span ng-click="make_rating(4)">
                  <i class="fa fa-star-o" ng-show="!has_rated[3]"></i>
                  <i class="fa fa-star text-warning" ng-show="has_rated[3]"></i>
                </span>
                 <span ng-click="make_rating(3)">
                  <i class="fa fa-star-o" ng-show="!has_rated[2]"></i>
                  <i class="fa fa-star text-warning" ng-show="has_rated[2]"></i>
                </span>
                <span ng-click="make_rating(2)">
                  <i class="fa fa-star-o" ng-show="!has_rated[1]"></i>
                  <i class="fa fa-star text-warning" ng-show="has_rated[1]"></i>
                </span>
                <span ng-click="make_rating(1)">
                  <i class="fa fa-star-o" ng-show="!has_rated[0]"></i>
                  <i class="fa fa-star text-warning" ng-show="has_rated[0]"></i>
                </span>
              </span>
            </div>

            <div style="font-size: 20px"><i class="fa fa-comments"></i> <span class="badge">{{nbComment}}</span></div>
            <hr style="margin-top: 2px"/>
            <div class="form-group">
              <form class="form">
                <textarea class="form-control" rows="3" placeholder="Comments" ng-model="content"></textarea>
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary" ng-click=newComment()>Comment</button>
                </div>
              </form>
            </div>
            <br/>

            <div class="pagination" ng-repeat="page in nbPage track by $index">
              <li ng-class="{active: $index +1 == currentPage}" ><a href ng-click="selectPage($index+1, $event)">{{$index+1}}</a></li>
            </div>

            <div class="list-comments">
              <ul class="media-list">
                <li class="media" ng-repeat="comment in comments">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../images/user.png">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">{{comment.user_name}} <small>{{comment.timechamps | date:"MM/dd/yyyy 'at' h:mma"}}</small></h5>
                    <p>{{comment.content}}</p>
                  </div>
                </li>

              </ul>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
