<div class="row">
  <div class="col-md-offset-1 col-lg-10">
    <div class="panel panel-warning">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <img  class="img-thumbnail" src="././images/logo.png">
            <div><i class="fa fa-music"></i> Song Name</div>
            <div><i class="fa fa-user"></i> Author</div>
          </div>

          <div class="col-md-10">
            <button class="btn btn-warning"><i class="fa fa-play"></i> Play</button>
            <span class="rating">
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </span>
            <br/>
            <br/>
            <br/>
            <br/>

            <div style="font-size: 20px"><i class="fa fa-comments"></i> <span class="badge">89</span></div>
            <hr style="margin-top: 2px"/>
            <form class="form">
              <textarea class="form-control" rows="3" placeholder="Comments"></textarea>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Comment</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
