<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-2">
        Piano:
      </div>
      <div class="col-lg-10">
        <img src="../images/track.jpg" class="pull-right" width="100%">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-2">
        Piano:
      </div>
      <div class="col-lg-10">
        <img src="../images/track.jpg" class="pull-right" width="100%">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-2">
        Piano:
      </div>
      <div class="col-lg-10">
        <img src="../images/track.jpg" class="pull-right" width="100%">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-2">
        Piano:
      </div>
      <div class="col-lg-10">
        <img src="../images/track.jpg" class="pull-right" width="100%">
      </div>
    </div>
    <br/>
  </div>
</div>
