<div class="row">
  <div class="col-md-offset-3 col-lg-6">
    <!--notification de success de upload-->
    <div class="alert alert-dismissible alert-success" id="alert_upload"ng-show="hasNotif">
      <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
      <strong>Congratulations!</strong> You successfully upload your music <a href="#" class="alert-link">Go to my list of music</a>.
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Upload Your File</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Song Name</label>
            <div class="col-lg-9">
              <input type="text" ng-model="songName" class="form-control" placeholder="Song Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Author</label>
            <div class="col-lg-9">
              <input type="text" ng-model="author" class="form-control" placeholder="Author">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Choose File</label>
            <div class="col-lg-9">
              <input type="file" class="btn btn-default" fileread="uploadFiles" multiple/>
            </div>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="reset" class="btn btn-default" ng-click="cancel()">Cancel</button>
              <button type="submit" class="btn btn-success" ng-click="submit()">submit</button>
            </div>
          </div>

          <div class="form-group">
            <ul class="list-group" ng-repeat="track in tracks">
              <li class="list-group-item" >
                <div class="col-lg-11">{{track.name}} {{track.readableDuration}}</div>
                <button type="button" class="col-lg-1 btn btn-danger btn-sm" ng-click="deleteUploadFile($index)">
                  <i class="fa fa-trash"></i>
                </button>
              </li>
            </ul>
          </div>

        </form>
      </div>
    </div>
    </div>
  </div>
</div>

